@mixin option-position($position) {
  font-size: 2rem;
  position: absolute;
  border: 1.5rem solid var(--color-primary);
  width: 80px;
  height: 80px;
  padding-top: 1rem;
  border-radius: 50%;

  @if ($position == "start") {
    left: -15px;
  } @else if ($position == "end") {
    right: -15px;
  } @else {
    @warn 'You need to pick a position "end" or "start"';
  }
}
