.quiz-container {
  width: 40rem;
  height: 65rem;
  background: var(--color-primary);
  position: relative;
}

.quiz-title {
  font-size: 4rem;
  color: var(--color-secondary);
  text-align: center;
  padding-top: 3rem;
}

.quiz-counter {
  font-size: 2rem;
}
