.quiz-container {
  width: 40rem;
  height: 65rem;
  background: var(--color-primary);
  position: relative;
}

.quiz-title {
  font-size: 4rem;
  color: var(--color-secondary);
  text-align: center;
  padding-top: 3rem;
}

.page-counter-container {
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding: 1rem 0;
}

.results {
  font-size: 5rem;
}
