*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  font-family: var(--font-primary);
}

// QUIZ
.quiz-container {
  width: 40rem;
  height: 65rem;
  background: var(--color-primary);
  position: relative;
}

.quiz-title {
  font-size: 4rem;
  color: var(--color-secondary);
  text-align: center;
  padding-top: 1.5rem;
}

.quiz-counter {
  font-size: 2rem;
  padding-bottom: 1rem;
}

// QUESTION

.question-container {
  background: var(--color-white);
  border-radius: 10px;
  padding: 2rem 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.question-text {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

// CHOICE

.choice-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.choice {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;

  &:hover {
    cursor: pointer;
  }
}

.choice-number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: var(--color-white);
}

.choice-prefix.correct {
  background-color: var(--color-correct);
}

.choice-prefix.incorrect {
  background-color: var(--color-incorrect);
}

.choice-text {
  width: 80%;
  border-radius: 10px;
  background: var(--color-white);
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: var(--font-primary);
}

.choice-text.correct {
  background-color: var(--color-correct);
}

.choice-text.incorrect {
  background-color: var(--color-incorrect);
}

// BUTTONS

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.previous-button,
.next-button,
.start-button {
  background-color: var(--color-primary);
  width: 12rem;
  height: 6rem;
  border: none;
  font-family: var(--font-primary);
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--color-hover);
  }
}

.hide-element {
  display: none;
}

.progress-container {
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 2rem;
}
